name: 'Playwright Tests'
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Playwright
      run: npm init -y && npm install @playwright/test
      
    - name: Install Playwright browsers + deps
      run: npx playwright install --with-deps
      
    - name: Run Playwright tests
      run: npx playwright test
      
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
