name: 'Playwright Tests'
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: microsoft/playwright-github-action@v1
    - name: Run your tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
